@use "sass:color";
@use "../01-abstracts/index" as *;

/*********** Main Section in middle of page, between the header and footer *****/

.main-section {
  display: grid;
  gap: 1.5rem;

  // for the grid above this
  grid-area: main-section;
  line-height: 1.6;
  padding: 1.5rem;


  // This even make sense? ... with no "sidebar?"   maybe yes if i dont do grid-template-areas: in the parent class;
  &--wide {
    @extend .main-section;

    grid-template-areas: "pContent";
    grid-template-columns: 1fr;
  }

  &--left-wide {
    @extend .main-section;

    grid-template-areas: "pContent sidebar";
    grid-template-columns: auto 18%;
  }

  &--right-wide {
    @extend .main-section;

    grid-template-areas: "sidebar pContent";
    grid-template-columns: 18% auto;
  }


  @media ($breakpoint-lg) {
    &--left-wide,
    &--right-wide {
      // rows / columns
      grid-template: 1fr / 1fr;
      grid-template-areas:
        "sidebar"
        "pContent";
      max-width: 100vw;

      // margin: 0 0.5rem;
    }
  }
}
