@use "../01-abstracts/index" as *;

// May 2023 note: is this hyper specific section needed? really?

// For Distro and Desktop Frontpages on the LinuxHQ side of the site
// wait ... should this NOT be on anything other than the frontpages ?
// ?? IS this id (forget the css) needed so the js knows where to place the content? - answer: based on prior comment i left:  YES
#linux-primary-content {
  display: flex;
  flex-wrap: wrap;

  @include place-content(flex-start, space-evenly);

  // Nov 2023: is this width needed? ... something seems off
  width: 100%;

  .card {
    min-width: 300px;
    max-width: 92%;
  }

  @media ($breakpoint-md) {
    display: unset;
    flex-wrap: unset;

    // @include place-content(unset, unset);
    place-content: unset;
    margin: 1.2rem 0;

    .card {
      min-width: unset;
    }
  }
}

// For LinuxHQ distro section and eventually more
#linux-versions {
  // trial syntax for me
  // this is for the version table that sometimes has long version info that collide with other tables
  // also consider using css and removing the "tailwind like" syntax I have there for spacing
  .row {
    margin: 0.75rem 0;
    display: flex;

    .col {
      margin: 0 1.5rem;
      word-wrap: break-word;
    }
  }

  // the top level of the column
  .distroBaseTitle {
    font-weight: 900;
    text-decoration: underline;
  }

  // The Titles of the Distro/Versions
  .versionTitle {
    margin-right: 0.5rem;
  }
}

#browser-frontpage {
  // max-width: 100vw;

  h3 {
    margin: 1rem 0;
  }

  h4 {
    color: var(--theme-clr-main-500);
  }

  // useful in a few sections below
  .icon {
    max-height: 32px;
    max-width: 32px;
  }

  ul {
    // @include flex(row, wrap, space-evenly);
    @include outline(1px, solid, var(--theme-clr-dark-500));

    li {
      font-weight: 800;
      list-style-type: none;
      margin: 0.5rem 0;
      padding: 1rem 2rem;
    }

    @media ($breakpoint-lg) {
      @include flex(row, wrap, flex-start);
    }
  }

  // the list of browsers at the top of the browser frontpage
  #browser-engines-container {
    @include flex(row, wrap, space-around);

    .card {
      box-shadow: unset;
      display: block;
    }

    ul {
      outline-width: unset;
      outline-color: unset;
      outline-style: unset;
      padding: 0.75rem;
    }

    ul li {
      &:hover,
      &:focus {
        @include include-light-dark-bg(var(--main-bg-500), var(--theme-clr-main-500), var(--theme-clr-main-600));
        @include include-light-dark-fg(var(--light-fg), var(--theme-clr-light-500), var(--theme-clr-light-600));

        transition: 0.25s;
      }
    }

    // a {
    //   white-space: nowrap;
    // }

    @media ($breakpoint-md) {
      ul {
        margin: 0;
        display: block;
      }
    }
  }

  #total-addons {
    #addons-container {
      @include flex(row, wrap, space-around);

      // the class for EACH addon
      .addon {
        @include outline;

        .browsers {
          display: flex;
        }

        // gap: 2rem;
        border-radius: 20px;
        padding: 3rem 1rem;
        text-align: center;

        // width: max(20%, 200px);
        width: fit-content;

        @media ($breakpoint-sm) {
          margin: 1rem 2rem;
          padding: 1rem 3rem;
          width: 100%;

          ul {
            flex-flow: column nowrap;

            li {
              margin: 2rem 0;
              padding: unset;
            }
          }
        }

        .icon {
          @include icon-variant;

          display: block;
          margin: 0 auto;
        }

        // major addon icon at the top of the "section"
      }
    }
  }

  #ytvideos {
    #yt-video-container {
      margin: 0 auto;
      width: fit-content;

      ul>li {
        margin: 0 auto;
      }
    }

    @media ($breakpoint-sm) {
      display: none;
    }
  }

  #useful-links {
    .link-container {
      display: flex;
      justify-content: space-evenly;

      img {
        padding: 1rem;
      }

      @media ($breakpoint-md) {
        align-items: center;
        flex-direction: column;
        gap: 5rem;
      }
    }
  }
}