<!-- at this point the main row is closed -->

<!-- Include search box -->
<!-- <?php include $rootDir . "/modules/ddg.tpl"; ?> -->

<!-- Idea ending div -?? ends main section  -->
</div>

<?php require $siteRoot ."/modules/footer.tpl"; ?>
