//output:mainSection.html

.container 
  .card 
      span code for Icon/graphic for distro goes here
      span code for Distro Name goes here as well 

  .card 
    .card__header 
      h3 Basic Information
    div
      span.fw-800 Homepage: 
        
      br 
      span.fw-800 Downloads: 
      
      br   
      span.fw-800 Forums: 
      
      br   
      span.fw-800 Distrowatch Page: 
      
      br 
      span.fw-800 Desktop Options: 
        
  br       
  .card
    .card__header 
      h3 More Information
    div 
      span.fw-800 Target User
      
      br  
      span.fw-800 Distros that are similiar:

  br 
  .card 
    .card__header 
    h3 Youtube Playlists
    div (note: there may not be links for "every distro, here")
      br 
      span.fw-800 Youtube Reviews and Comments
      br 
      span.fw-800 Youtube Tweaks/Tips/...etc 
        
  br 
  br   
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='#') Screenshots
    |   
    li.nav-item
      a.nav-link(href='#') Youtube Reviews
    |   
    li.nav-item
      a.nav-link(href='#') USB Creation 
