@use "../01-abstracts/index" as *;

html {
  color-scheme: light dark;
}

body {
  background-color: var(--bg-color-500);
  color: var(--fg-color-500);
  color-scheme: light dark;
  display: grid;

  // grid-template: row / column
  grid-template: 1fr auto 1fr / 1fr;
  grid-template-areas:
    "header"
    "main-section"
    "footer";
  min-height: 100%;

  // font setup
  font-family: var(--ffamily-roboto);
  font-size: var(--fs-normal);
  font-weight: 400;

  @media ($breakpoint-md) {
    grid-template: auto 1fr / 1fr;
    grid-template-areas:
      "main-section"
      "header";
  }

  // card everywhere else is flex... why grid here? ... shouldn't i just switch them all to flex?
  // was there a need for grid? ...
  .card {
    // background on dark themes and .card
    background-color: var(--bg-color-600);
    color: var(--fg-color-600);

    @include border-radius-single(10px);

    // i forgot if i have a mixin for this
    // border: 1px solid var(--theme-clr-accent-500);

    box-shadow: var(--box-shadow-light);
    margin: 1.2rem auto;

    // is this width needed? ... auto = default?
    width: auto;

    // extends the card and adds an outline ... use -card--outline as the main card i think
    &--outline {
      @extend .card;

      outline: 1px solid var(--theme-clr-main-500);
    }

    .card__header {
      // @include flex(row, nowrap, space-between);
      display: flex;
      flex-wrap: nowrap;

      @include align-items-justify-content(baseline, flex-start);

      // align-items: center;
      border-color: var(--theme-clr-main-500);
      border-radius: 10px 10px 0 0;
      font-weight: bold;
      font-size: var(--h4);
      padding: 1rem;

      a {
        color: var(--theme-clr-accent-500);

        &:focus,
        &:hover {
          color: var(--theme-clr-main-500);
        }
      }

      // FOR ALL child divs of card__header
      // June 2023 .... why div? .. could it be "> *" here?
      div {
        align-items: center;
        display: inherit;
      }

      // for a div .. does this make sense?
      // for a div but only for the first div child
      div:first-child {
        justify-content: flex-start;
      }

      div:nth-of-type(2) {
        justify-content: flex-end;
      }

      // Oct 2021: what is this for?
      &--wide {
        @extend .card__header;

        // for flexbox
        justify-content: space-between;
      }
    }

    .card__body,
    .card__text {
      padding: 1rem;
    }

    // consider switching this to card__title
    .card-title {
      padding: 1rem;
    }

    a {
      color: var(--fg-color-500);
    }
  }

  // idea: overall container for "row of btns"
  .btn-container,
  .list-container {
    @include flex(row, wrap, space-around);

    /* this should be generic (more detailed css can build on this) */
    ul {
      list-style-type: none;

      @include flex(row, wrap, center);

      li {
        @include border-radius-single(1rem);

        padding: 1.5rem;
      }
    }

    .btn {
      outline-width: 1px;
      outline-style: solid;
    }
  }

  :is(.h1, .h2, .h3, .h4, .h5) {
    a {
      padding: 0.25rem;

      &:hover {
        outline: 1px solid var(--theme-clr-accent-500);
        text-decoration: none;
      }
    }
  }

  /****** Sidebar *****/
  .sidebar {
    // not sure about the placement here
    a {
      display: block;

      // idea for better UX
      line-height: 1.75;
      margin: 0.25rem 0 0.25rem 1.5rem;

      &:hover {
        // background-color: color.adjust($theme-clr-light, $lightness: -2%);
        background-color: var(--theme-clr-light-600);

        // works elsewhere
        // background-color: color.adjust(var(--theme-clr-main-500), $lightness: 10%);

        color: var(--theme-clr-accent-500);
        outline: 1px solid var(--theme-clr-main-500);
      }
    }

    img {
      margin: 1rem 0;
      padding: 0;
    }
  }

  // the main sections of each side of the site
  .primary-content {
    grid-area: pContent;

    // idea
    .card:nth-child(-n + 2 of .card) {
      margin-top: 0;
    }

    // the idea is for readability as far as the ch unit
    p {
      max-width: 72ch;
    }

  }
}

// putting this here for now
ul,
ol {
  margin: 1rem 2rem;

  // no need for both ... note to self: figure out which is not needed
  li {
    margin: 0 1rem;

    // august 2023: why is this here?  i had a reason but it messes some things up
    // added https://github.com/Xmetalfanx/website/commit/a4eb1f6ec9d0bf0494a21292930d2f3f2ca4074a here
    list-style-position: inside;
  }

  > * {
    margin: 0.25rem;
  }

  .list-wide {
    @include flex(row, wrap, center);

    li {
      list-style: none;
      margin: 1rem;
      padding: 1rem;
    }
  }
}
