@use "sass:map";
@use "sass:color";
@use "../01-abstracts/index" as *;

// @use "../05-fromBS/index" as *;

header,
footer {
  @include flex;
  @include color-theme($theme-clr-main, $theme-clr-light);

  //@include color-theme-dark($theme-clr-dark, $theme-clr-light);


  @media (prefers-color-scheme: dark) {
    @include clr-darken(bgc, $theme-clr-main, 10%);
  }

  font-family: var(--ffamily-helvetica);
  font-weight: 900;

  @include align-items-justify-content(center, space-between);

  a {
    padding: 1.5rem;

    // Oct 2023 ... didn't i just add these for the mobile menu issue?
    // commit: https://github.com/Xmetalfanx/website/commit/3c525894078d4cc5d8fe22bcae5213e26dfc0790
    // why?
    // margin: -.5rem;
    // padding: .5rem;
    @include color-theme(transparent, $theme-clr-light);

    &:hover,
    &:focus {
      @include border-radius-single(10%);
      @include clr-lighten(bgc, $theme-clr-main, 10%);

      outline: 1px dotted $theme-clr-light;

      @media (prefers-color-scheme: dark) {
        @include clr-darken(bgc, $theme-clr-main, 40%);
      }
    }
  }
}

footer {
  padding: 1.5rem;
  grid-area: footer;
  flex-wrap: wrap;

  img {
    display: inline;
    margin: 0.4rem;
    max-width: 32px;
    max-height: 32px;
    vertical-align: bottom;
  }

  .contacts,
  .site-made {
    width: fit-content;

    i {
      transform: scale(2);
      margin: 0 1rem;
    }
  }

  .contacts {
    text-align: right;

    @media ($breakpoint-lg) {
      text-align: center;
      width: 100%;
    }
  }

  // hides site-made on md-to-lg layouts but the site will still show contacts class
  @media ($breakpoint-lg) {
    .site-made {
      display: none;
    }
  }

  // hides the ENTIRE footer on lower than a md layout
  // useful now that the top menus are at the bottom for UX, at these layouts
  @media ($breakpoint-md) {
    display: none;
  }
}

header {
  @include box-shadow(2px, 2px, 5px, $theme-clr-accent);

  padding: 1.75rem;
  grid-area: header;

  // nav menus on (top level here) desktop
  nav {
    // just for the bars now
    // this shows only on small layouts .. whether on focus or not

    // idea: only get the li's of the hamburger menu
    ul.hamburger-menu > li {
      display: none;

      @media ($breakpoint-lg) {
        @include flex;

        width: 200px;
        background-color: aquamarine;
        height: 1px;
      }
    }

    .hamburger-menu {
      // the actual menu with items
      .menu {
        @include flex;

        list-style-type: none;
        font-size: 1.3rem;

        // the menu on smaller screens when .hamburger-menu is not :focus'ed
        @media ($breakpoint-lg) {
          // to move it off screen when .hamburger-menu is not clicked
          transform: translateY(10rem);
        }
      }

      // main hamburger menu from this breakpoint and below
      @media ($breakpoint-lg) {
        @include flex(row, nowrap);

        list-style-type: none;
        width: 100px;
        height: 20px;
        background-color: red;

        ul > li {
          @include clr-darken(bg, $theme-clr-accent, 40%);

          width: 50%;
          height: 1px;
        }

        &:focus {
          // hamburger menu when clicked
          .menu {
            @include flex(column, wrap);

            align-items: center;
            justify-content: center;
            background-color: $theme-clr-main;
            padding: 1rem;
            position: absolute;
            outline: 1px solid pink;

            // test .. .no clue what this will end up doing
            bottom: 5rem;
            width: 90vw;
            transform: translateY(-10rem);
          }
        }
      }
    }

    // entire nav on this breakpoint or below
    @media ($breakpoint-lg) {
      height: 3rem;
    }
  }

  // Xmetal Homepage, LinuxHQ or TechHQ title section
  .section-header {
    font-size: var(--h3);
    margin: 1rem;
    text-shadow: 1px 1px 1px $theme-clr-accent;

    i {
      transform: scale(2);
      margin-right: 2.5rem;
    }

    @media ($breakpoint-lg) {
      display: none;
    }
  }

  // for "header" itself from this breakpoint and lower
  @media ($breakpoint-lg) {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 1;
  }
}

// @include themify($current-theme) {
//   header,
//   footer {
//     color: themed['main'];
//     background-color: themed['light'];

//     a &:hover,
//       &:focus {
//         background-color: themed['main'];
//         color: themed['fg'];
//         outline: 1px dotted themed['bg'];
//       }
//   }
