@use "sass:color";
@use "../01-abstracts/index" as *;

// @use "../05-fromBS/index" as *;

header,
footer {
  @include flex;
  @include color-theme($theme-clr-main, $theme-clr-light);
  @include color-theme-dark($theme-clr-dark, $theme-clr-light);

  font-family: var(--ffamily-helvetica);
  font-weight: 900;

  @include align-items-justify-content(center, space-between);

  a {
    padding: 1.5rem;

    // Oct 2023 ... didn't i just add these for the mobile menu issue?
    // commit: https://github.com/Xmetalfanx/website/commit/3c525894078d4cc5d8fe22bcae5213e26dfc0790
    // why?
    // margin: -.5rem;
    // padding: .5rem;
    @include color-theme(transparent, $theme-clr-light);

    &:hover,
    &:focus {
      @include border-radius-single(10%);

      background-color: color.adjust($theme-clr-main, $lightness: 10%);
      outline: 1px dotted $theme-clr-light;

      @media (prefers-color-scheme: dark) {
        @include clr-lighten(bc, $theme-clr-dark, 50%);
      }
    }
  }
}

footer {
  padding: 1.5rem;
  grid-area: footer;
  flex-wrap: wrap;

  img {
    display: inline;
    margin: 0.4rem;
    max-width: 32px;
    max-height: 32px;
    vertical-align: bottom;
  }

  .contacts,
  .site-made {
    width: fit-content;

    i {
      transform: scale(2);
      margin: 0 1rem;
    }
  }

  .contacts {
    text-align: right;

    @media ($breakpoint-lg) {
      text-align: center;
      width: 100%;
    }
  }

  // hides site-made on md-to-lg layouts but the site will still show contacts class
  @media ($breakpoint-lg) {
    .site-made {
      display: none;
    }
  }

  // hides the ENTIRE footer on lower than a md layout
  // useful now that the top menus are at the bottom for UX, at these layouts
  @media ($breakpoint-md) {
    display: none;
  }
}

header {
  @include box-shadow(2px, 2px, 5px, $theme-clr-accent);

  padding: 1.75rem;
  grid-area: header;

  // nav menus on (top level here) desktop
  nav {
    position: relative;

    .hamburger-menu {
      @include flex(row, nowrap);

      list-style-type: none;
    }

    // the menus on smaller screen
    // this should appear when NOT clicked
    // (I may have to do more work on "when" this displays (say an onclick?)
    @media ($breakpoint-lg) {
      @include border-radius-single;

      background-color: $theme-clr-accent;
      height: 50px;
      width: 75px;
      margin: 0 auto;

      // idea to keep it in front 
      z-index: 1;

      // for the full hamburger menu
      // (note to self: this is on a UL )
      .hamburger-menu {
        transform: translate(0, 2rem);
        transition: 0.75ms;

        // for each item in the menu
        .bar {
          margin: 0;
        }

        // idea: the hamburger menu ... the breakpoint means on smaller screens
        // ?? is this for the non-clicked menu itself? I think so
          // this would be just for the menu .. not the positioning OF IT
        @media ($breakpoint-lg) {
          @include flex(column wrap);

          background-color: $theme-clr-main;
          padding: 1rem;
          position: absolute;

          // menu items on smaller layouts
          .bar {
            padding: 1.5rem 0;
            margin: unset;
          }
        }
      }

      &::before,
      &::after {
        content: "";
        display: inline-block;
        height: 2px;
        width: 75%;
        background-color: $theme-clr-light;
        margin: 0 auto;
        position: absolute;
      }

      &::before {
        top: 30%;
      }

      &::after {
        top: 70%;
      }

      &:focus {
        // hamburger menu when clicked
        .hamburger-menu {
          // for each item in the menu
          .bar {
            margin: 0;
          }

          // idea: the hamburger menu ... the breakpoint means on smaller screens
          // this is the list of menu items "when clicked"
          @media ($breakpoint-lg) {
            @include flex(column, wrap);

            align-items: center;
            justify-content: center;
            background-color: $theme-clr-main;
            padding: 1rem;
            position: absolute;
            outline: 1px solid pink;

            // test .. .no clue what this will end up doing
            bottom: 5rem;

            // z-index: 1;
            transform: translate(-50%, 0);
            transition: 0.75ms;

            // height: 80vh;
            width: 90vw;

            // menu ITEMS on smaller layouts
            .bar {
              padding: 1.5rem 0;
              margin: unset;
            }
          }
        }
      }
    }
  }

  // Xmetal Homepage, LinuxHQ or TechHQ title section
  .section-header {
    font-size: var(--h3);
    margin: 1rem;
    text-shadow: 1px 1px 1px $theme-clr-accent;

    i {
      transform: scale(2);
      margin-right: 2.5rem;
    }

    @media ($breakpoint-lg) {
      // only hides graphic

      display: none;
    }

    @media ($breakpoint-md) {
      // hides both graphic and text
      display: none;
    }
  }

  @media ($breakpoint-lg) {
    bottom: 0;
    position: fixed;
    width: 100vw;
    z-index: 100;
  }
}

// @include themify($current-theme) {
//   header,
//   footer {
//     color: themed['main'];
//     background-color: themed['light'];

//     a &:hover,
//       &:focus {
//         background-color: themed['main'];
//         color: themed['fg'];
//         outline: 1px dotted themed['bg'];
//       }
//   }

//   // Nov 2024: is this needed?  couldn't I do a more global option to not need this?
//   header .topnav a :hover, :active {
//     background-color: themed['bg'];
//     color: themed['main'];
//   }
// }
