@use "sass:map";
@use "sass:color";
@use "../01-abstracts/index" as *;

// @use "../05-fromBS/index" as *;

header,
footer {
  @include flex;
  @include color-theme($theme-clr-main, $theme-clr-light);

  // @include color-theme-dark($theme-clr-dark, $theme-clr-light);

  @media (prefers-color-scheme: dark) {
    @include clr-darken(bgc, $theme-clr-main, 10%);
  }

  font-family: var(--ffamily-helvetica);
  font-weight: 900;

  @include align-items-justify-content(center, space-between);

  a {
    padding: 1.5rem;

    // Oct 2023 ... didn't i just add these for the mobile menu issue?
    // commit: https://github.com/Xmetalfanx/website/commit/3c525894078d4cc5d8fe22bcae5213e26dfc0790
    // why?
    // margin: -.5rem;
    // padding: .5rem;
    @include color-theme(transparent, $theme-clr-light);

    &:hover,
    &:focus {
      @include border-radius-single(10%);
      @include clr-lighten(bgc, $theme-clr-main, 10%);

      outline: 1px dotted $theme-clr-light;

      @media (prefers-color-scheme: dark) {
        @include clr-darken(bgc, $theme-clr-main, 40%);
      }
    }
  }
}

footer {
  padding: 1.5rem;
  grid-area: footer;
  flex-wrap: wrap;

  img {
    display: inline;
    margin: 0.4rem;
    max-width: 32px;
    max-height: 32px;
    vertical-align: bottom;
  }

  .contacts,
  .site-made {
    width: fit-content;

    i {
      transform: scale(2);
      margin: 0 1rem;
    }
  }

  .contacts {
    text-align: right;

    @media ($breakpoint-lg) {
      text-align: center;
      width: 100%;
    }
  }

  // hides site-made on md-to-lg layouts but the site will still show contacts class
  @media ($breakpoint-lg) {
    .site-made {
      display: none;
    }
  }

  // hides the ENTIRE footer on lower than a md layout
  // useful now that the top menus are at the bottom for UX, at these layouts
  @media ($breakpoint-md) {
    display: none;
  }
}

header {
  @include flex;

  align-items: start;

  @include box-shadow(2px, 2px, 5px, $theme-clr-accent);

  padding: 1.75rem;
  grid-area: header;

  nav {
    margin: 0 auto;
  }

  // on desktop (root here)
  .hamburger-menu {
    @include flex;

    flex-flow: row nowrap;
    list-style-type: none;

    > .bar {
      width: 80%;
      height: 3px;
      margin: 0.3rem auto;
      background-color: $theme-clr-light;
    }

    // main nav menu from this breakpoint and below
    @media ($breakpoint-lg) {
      @include border(1px, solid, $theme-clr-light);

      flex-direction: column;
      justify-content: center;

      // background-color: red;
      height: 85px;
      width: 125px;
      margin: 0 auto;
      padding: 0.5rem 0;

      @include border-radius-single;

      @media ($breakpoint-md) {
        width: 100px;
      }
    }

    &:focus .menu {
      align-items: center;
      background-color: $theme-clr-main;
      flex-direction: column;
      padding: 1rem;
      transform: translateY(-20rem);
      transition: 0.5s;

      // width: 90%;
      position: absolute;
      left: 0.5rem;

      > li {
        margin: 2.5rem 0;
      }
    }

    @media ($breakpoint-sm) {
      &:focus .menu {
        bottom: 10%;
        transform: unset;
        left: 0;


      }
    }
  }

  // the actua; menu
  .menu {
    @include flex;

    list-style-type: none;
    position: absolute;
    right: 2%;
    z-index: 1;

    // menu items
    > span {
      margin: 0 2rem;
      flex-direction: column;
      right: unset;
    }

    @media ($breakpoint-lg) {
      flex-direction: row;
      transform: translateY(10rem);
    }
  }

  // Xmetal Homepage, LinuxHQ or TechHQ title section
  .section-header {
    font-size: var(--h3);
    margin: 1rem;
    text-shadow: 1px 1px 1px $theme-clr-accent;

    i {
      transform: scale(2);
      margin-right: 2.5rem;
    }

    @media ($breakpoint-lg) {
      display: none;
    }
  }

  // for "header" itself from this breakpoint and lower
  @media ($breakpoint-lg) {
    // puts it at the bottom
    position: fixed;
    bottom: 0;

    // spans the full view port width
    width: 100vw;

    // brings it to the front
    z-index: 1;
  }
}

// @include themify($current-theme) {
//   header,
//   footer {
//     color: themed['main'];
//     background-color: themed['light'];

//     a &:hover,
//       &:focus {
//         background-color: themed['main'];
//         color: themed['fg'];
//         outline: 1px dotted themed['bg'];
//       }
//   }
