 div 
    span.fw-800 Target Audience: 
    | ${currentDistroTargetAudience}
    br/
    
    span.fw-800 Featured Desktops: 
    | ${currentDistroFeaturesDesktops}
    br/

    span.fw-800 Similar Distros: 
    | ${currentDistroSimilarDistros}
    br/

        