@use "sass:map";
@use "sass:color";

$amazon-main-darker-green: hsl(174deg 100% 14%);
$amzon-sub-lighter-green: hsl(173deg 56% 22%);
$oct-theme: (
  main: hsl(18deg 80% 35%),
  // accent: hsl(120, 50%, 20%),
  accent: hsl(120, 50%, 30%),
  light: hsl(0deg 0% 94%),
  dark: hsl(120deg 30% 15%),
);
$nov-theme: (
  main: hsl(29deg 69% 40%),
  accent: hsl(20deg 86% 30%),
  light: hsl(0deg 0% 94%),
  dark: hsl(0deg 0% 15%),
);
$dec-theme: (
  main: hsl(120deg 100% 20%),
  accent: hsl(0deg 100% 25%),
  light: hsl(0deg 0% 94%),
  dark: hsl(0deg 0% 15%),
);
$tropical-theme1: (
  main: hsl(34deg 90% 45%),
  accent: hsl(160deg 100% 25%),
  light: hsl(0deg 0% 94%),
  dark: hsl(0deg 0% 15%),
);

// assign theme idea
$current-theme: $tropical-theme1;



// my idea/trial
// 500 - normal  (like kevin powells)
@each $key, $value in $tropical-theme1
{
  :root
    {
    --theme-clr-#{$key}-100: #{color.adjust($value, $lightness: 25%)};
    --theme-clr-#{$key}-200: #{color.adjust($value, $lightness: 15%)};
    --theme-clr-#{$key}-300: #{color.adjust($value, $lightness: 10%)};
    --theme-clr-#{$key}-400: #{color.adjust($value, $lightness: 5%)};
    --theme-clr-#{$key}-500: #{$value};
    --theme-clr-#{$key}-600: #{color.adjust($value, $lightness: -5%)};
    --theme-clr-#{$key}-700: #{color.adjust($value, $lightness: -10%)};
    --theme-clr-#{$key}-800: #{color.adjust($value, $lightness: -15%)};
    --theme-clr-#{$key}-900: #{color.adjust($value, $lightness: -25%)};
  }
}
