@forward "_mixins_colors";
@forward "_mixins_base";

// still needed here? 
@use "sass:map";
@use "color-themes" as *;


@mixin section-title($font-size: 24px, $font-weight: 700, $color: $theme-clr-accent) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 1rem auto;

}

@mixin icon-variant($height: 32px, $width: 32px) {
  @extend .icon;

    height: $height;
    width: $width;
}
