<?php require $rootDir . '/modules/linux/linuxBaseHeader.tpl'; ?>

body 

  <?php require 'linuxNavMenu.tpl'; ?>

  .row.mainSection
    .col-xs-12.col-md-2
      <?php require $rootDir . '/linuxHQ/modules/sections/linuxNAppCol1.tpl'; ?>

    .col-xs-12.col-md-10
