header
  .section-header
    a(href='/linuxHQ/index.php')
      i.fa-brands.fa-linux(aria-hidden='true')
      .d-inline-block LinuxHQ
  nav
    //  Hamburger Menu 
    .hamburger-menu(tabindex='0')
      span.bar
      span.bar
      span.bar
      //  Actual Menu - nested inside Hamburger  
      ul.menu(role='menubar')
        li(role='menuitem' aria-label='Linux Distributions')
          a(href='/linuxHQ/distros/distroHome.php') Distributions
        li(role='menuitem' aria-label='Linux Desktops')
          a(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
        li(role='menuitem' aria-label='Linux Tutorials')
          a(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
        li(role='menuitem' aria-label='Linux Theming')
          a(href='/linuxHQ/tic/TICHome.php') Theming