header
  .section-header
    a(href='/linuxHQ/index.php')
      i.fa-brands.fa-linux(aria-hidden='true')
      .d-inline-block LinuxHQ
  nav(tabindex='0')
    ul.hamburger-menu(role="menubar")
      li.bar(role="menuitem" aria-label="Linux Distributions")
        a(href='/linuxHQ/distros/distroHome.php') Distributions
      li.bar(role="menuitem" aria-label="Linux Desktops")
        a(href='/linuxHQ/desktops/desktopsIndex.php') Desktops
      li.bar(role="menuitem" aria-label="Linux Tutorials")
        a(href='/linuxHQ/tutorials/tutorialIndex.php') Tutorial
      li.bar(role="menuitem" aria-label="Linux Theming")
        a(href='/linuxHQ/tic/TICHome.php') Theming